
<html>
	<head>
    <script data-ad-client="ca-pub-5556469549392401" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		{% if username %}
			Welcome {{ username }}.

      <a href="{{ url_for('admin') }}">Admin</a>
			<a href="{{ url_for('logout') }}">Click here</a> to logout.
		{% else %}
			You are not logged in.			
			<a href="{{ url_for('login') }}">Click here</a> to login.
            <a href="{{ url_for('signup') }}">Click here</a> to signup.
		{% endif %}
	</body>
</html>